/* Form to fullwidth */
.o_form_view {
    .o_form_sheet_bg .o_form_sheet {
        max-width: none !important;
        width: auto !important;
    }

    .o_FormRenderer_chatterContainer {
        max-width: none;
    }
}

/* Move Chatter to bottom */
.o_FormRenderer_chatterContainer.o-aside {
    width: -webkit-fill-available;
    margin-bottom: 50px;
}

/* Move Chatter to bottom */
.o_form_view.o_xxl_form_view {
    -webkit-flex-flow: unset;
    flex-flow: wrap !important;
    height: auto !important;
}